body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f5f5f5;
}

.form-container {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px 2px #ccc;
	padding: 2em;
	margin: 0 2em;
}

.table-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 0;
}

.calculate-btn {
	width: calc(50% - 10px);
	margin: 10px 0;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: blue;
	color: white;
	cursor: pointer;
}

input[type='text'],
input[type='number'],
input[type='submit'] {
	width: calc(100% - 10px);
	margin-bottom: 10px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

input[type='submit'] {
	background-color: #4caf50;
	color: white;
	cursor: pointer;
}

input[type='submit']:hover {
	background-color: #45a049;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

table,
th,
td {
	border: 1px solid #ccc;
}

th,
td {
	padding: 8px;
	text-align: left;
}
